<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8cc76fc728.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Bienvenidos a SportShoes</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h2 class="titulo-creacion-productos">Elimina un producto</h2>
        <div class="div-eliminacion-productos">
        <article class="articulo-eliminacion-productos">
           <img src=<%= productoAEliminar.foto %>>
            <div>
                <p>
                    <%= productoAEliminar.nombre %>
                </p>
                <h4>
                    <%= productoAEliminar.precio %>
                </h4>
            </div>
        </article>
        <form  class="formulario-eliminacion-productos" action="/productos/eliminar/<%= productoAEliminar.id_zapatilla %>?_method=DELETE" method="POST">
            <button class="boton-eliminacion-productos" type="submit">ELIMINAR</button>
        </form>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>