<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8cc76fc728.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Bienvenidos a SportShoes</title>
</head>
    <body>
    <%- include('./partials/header') %>
    <main>
        <h2 class="titulo-creacion-productos">Formulario edición de productos</h2>
        <form class="formulario-creacion-productos" action="/productos/editar/<%= productoPorEditar.id %>?_method=PUT" method="POST">
        <div class="contenedores-formulario-creacion">
            <label for="nombre" class="label-creacion-productos">Nombre del producto:</label>
            <input type="text" id="nombre" name="nombre" value="<%= productoPorEditar.nombre %>" class="input-creacion-productos">
        </div>

        <div class="contenedores-formulario-creacion">
            <label for="precio" class="label-creacion-productos">Precio del producto:</label>
            <input type="text" id="precio" name="precio" value="<%= productoPorEditar.precio %>" class="input-creacion-productos">
        </div>

        <div class="contenedores-formulario-creacion">
            <label for="descuento" class="label-creacion-productos">Descuento del producto:</label>
            <input type="text" id="descuento" name="descuento" value="<%= productoPorEditar.descuento %>" placeholder="Agregar descuento a este producto" class="input-creacion-productos">
        </div>

        <div class="contenedores-formulario-creacion">
            <label for="categoria" class="label-creacion-productos">Categoría:</label>
            <select name="categoria" id="categoria">
                <option value="<%= productoPorEditar.categoria %>"><%= productoPorEditar.categoria %></option>
                <option value="mejores-productos">Mejores productos</option>
                <option value="mas-comprados">Más comprados</option>
                <option value="mejores-ofertas">Mejores ofertas</option>
            </select>
        </div>

        <div class="contenedores-formulario-creacion">
            <label for="descripcion" class="label-creacion-productos">Descripción del producto:</label>
            <textarea name="descripcion" id="descripcion" value="<%= productoPorEditar.descripcion %>" class="input-creacion-productos"></textarea>
        </div>

        <div class="contenedor-boton-creacion">
            <input type="submit" value="Editar" class="boton-creacion">
        </div>
        </form>
    </main>
    </body>
    <%- include('./partials/footer') %>
</body>