<!DOCTYPE html> 
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8cc76fc728.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Bienvenidos a SportShoes</title>
</head>

<body>
   <%- include('./partials/header') %>
    <main>
        <div class="container-slider">

            <div class="slider" id="slider">

                <div class="slider__section1">
                   <img src="images/c1.jpg" alt="" class="slider__img">
                </div>
                <div class="slider__section">
                  <img src="images/c2.jpg" alt="" class="slider__img">
                </div>
                <div class="slider__section">
                  <img src="images/c3.jpg" alt="" class="slider__img">
                </div>
                <div class="slider__section">
                  <img src="images/c4.jpg" alt="" class="slider__img">
                </div>
                <div class="slider__section">
                  <img src="images/c5.jpg" alt="" class="slider__img">
                </div>
                <div class="slider__section">
                  <img src="images/c7.jpg" alt="" class="slider__img">
                </div>
            </div>            
            <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
            <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>        
            </div>
            
        </div>
        <script src="/js/slider.js"></script>
        <div>
         <section class="seccion-mejores-productos-home">
            <h3 class="titulo-secciones-home">NUESTROS MEJORES PRODUCTOS</h3>
            <div class="barra-naranja"></div>
            <div class="articulos-home">
                <% for (let i = 0; i < mejoresProductos.length; i++) { %>
                <article class="articulos-mejores-productos-home">
                    <a href="/detalle-de-producto/mejores-productos/<%= mejoresProductos[i].id %>"><img src=<%= mejoresProductos[i].foto %> alt=<%= mejoresProductos[i].nombre %>></a>
                    <div class="articulo-mejores-productos-home">
                        <p class="titulo-mejor-producto-home">
                            <%= mejoresProductos[i].nombre %>
                        </p>
                        <h4 class="precio-mejor-producto-home">
                            <%= mejoresProductos[i].precio %>
                        </h4>
                    </div>
                </article>
                <% } %>
            </div>
         </div>    
     </section>
        <section class="seccion-mejores-productos-home">
            <h3 class="titulo-secciones-home">LO MÁS COMPRADO DEL SITIO</h3>
            <div class="barra-naranja"></div>
            <div class="articulos-home">
                <% for (let i = 0; i < masComprado.length; i++) { %>
             <article class="articulos-mejores-productos-home">
                <a href="/detalle-de-producto/mas-comprado/<%= masComprado[i].id %>"><img src=<%= masComprado[i].foto %>  alt=<%= masComprado[i].nombre %>></a>
                <div class="articulo-mejores-productos-home">
                    <p class="titulo-mejor-producto-home">
                        <%= masComprado[i].nombre %>
                    </p>
                    <h4 class="precio-mejor-producto-home">
                        <%= masComprado[i].precio %>
                    </h4>
                </div>
            </article>
            <% } %>
            </div>  
         </section>
         <section class="seccion-mejores-productos-home">
            <h3 class="titulo-secciones-home">NUESTRAS MEJORES OFERTAS</h3>
            <div class="barra-naranja"></div>
            <div class="articulos-home">
                <% for (let i = 0; i < mejoresOfertas.length; i++) { %>
                 <article class="articulos-mejores-productos-home">
                  <div class="contenedor-precio-tachado">
                   <a href="/detalle-de-producto/mejores-ofertas/<%= mejoresOfertas[i].id %>"><img src=<%= mejoresOfertas[i].foto %> alt=<%= mejoresOfertas[i].nombre %>></a>
                    <p class="precio-tachado-puma-wild-rollin"><%= mejoresOfertas[i].precioTachado %></p>
                   </div>
                    <div class="articulo-mejores-productos-home">   
                     <p class="titulo-mejor-producto-home">
                        <%= mejoresOfertas[i].nombre %>
                     </p>
                     <div class="contenedor-precio-descuento-home">
                     <h4 class="precio-mejor-producto-home">
                        <%= mejoresOfertas[i].precio %>
                     </h4>
                     <p class="descuento-home">
                        <%= mejoresOfertas[i].descuento %>
                     </p>
                    </div> 
            
                </article>
                <% } %>
            </div>
        </section>
        <%- include('./partials/footer') %>
    </main>

</body>

</html>