<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8cc76fc728.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Bienvenidos a SportShoes</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="section-usuario">
            <article class="articulo-usuario">
                <h2>BIENVENIDO <%= usuarioFinal.nombre %> </h2>
                <div class="imagen-usuario">
                    <img src="<%= usuarioFinal.imagen %>" alt="Foto de <%= usuarioFinal.nombre %>">
                </div>
                <div class="div-usuario">
                    <h4>
                        <%= usuarioFinal.email %>
                    </h4>
                </div>
            </article>
            <form action="/usuarios/" method="POST">
            <div class="contenedor-boton-creacion">
                <input type="submit" value="Cerrar sesión" class="boton-creacion-usuarios">
            </div>
            </form>
        </section>
        <%- include('./partials/footer') %>
    </main>
</body>